*{
    box-sizing: border-box;
}

body{
    
    background-color: rgb(133, 212, 133);
    font-family: 'Permanent Marker', Arial, Helvetica, sans-serif;
    padding: 6%;
    
}

#wrapper{
    background-color: rgb(228, 226, 226);
    width: 500px;
    height: 500px;
    padding: 21px;    
    margin-left: auto;
    margin-right: auto;    
    box-shadow: 10px 10px 15px rgb(56, 92, 56), 1px 1px 30px 20px rgb(184, 181, 181) inset;
    border-radius: 15px;
}

#overlay{
    text-align: center;
    padding-top: 8%;
    text-shadow: 3px 3px #000;
    color: white;
    position: fixed;
    display: block; 
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2; 
}
h1{
    font-size:94px;
}
h2{
    margin: 15px;
    font-size: 26px;
    display: inline-block;
}

#one:hover{
    color: rgb(218, 107, 107);
    cursor: pointer; 
}
#two:hover{
    color: rgb(130, 194, 214);
    cursor: pointer; 
}

#border{
    width:458px;
    height:458px;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 5px;
}

.cell{
    width: 150px;
    height: 150px;
    float: left;
    border: 1px solid #000;
    background-color: rgb(228, 226, 226);
    box-shadow: 0px 0px 30px 0px rgb(192, 192, 192) inset;
    text-align: center;
    text-shadow: 3px 3px #000;
    font-size:108px;
    line-height: 150px;
    
}

.cell:hover{
    cursor: pointer;
    opacity: 0.95;
    background-color: rgb(182, 180, 180);
}
#footer{
    text-align: center;
    margin: 25px;
    font-size: 18px;
}

a{
    font-size: 24px;
    font-weight: bold;
    color: rgb(218, 107, 107);
    text-shadow: 3px 3px #000;
    
}
a:hover{
    color: rgb(130, 194, 214);
    text-decoration: none;
}
